* {
  overflow: hidden;
  background-color: #023047;
}

h1 {
  font-family: "Agbalumo", sans-serif;
  color: #ffb703;
  padding: 30px;
  font-size: 2.5rem;
  text-align: center;
}

section {
  width: 350px;
  margin: auto;
}

div {
  height: 7rem;
  width: 7rem;
  margin: 20px;
  background-color: black;
  display: inline-block;
  border: 10px solid black;
  border-radius: 20px;
}

.green {
  background-color: green;
}
.red {
  background-color: red;
}
.yellow {
  background-color: yellow;
}
.blue {
  background-color: blue;
}

.change {
  border-color: white;
  transform: scale(1.2);
}
